<div class="info-block-wrapper">
    <div class="info-block">
    <h2><a href="documents">Recent Documents</a></h2>
    <table style="margin-top:1em;">
            <tbody>
                <% @documents.each do |document| %>
                <tr>
                    <td><%= document.name %></td>
                    <td><%= document.created_at.in_time_zone('Central Time (US & Canada)').strftime("%b %-d, %Y") %></td>
                    <td><%= link_to 'Download Document', document.attachment_url, class: 'button-primary' %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
